<footer class="site-footer">
    <div class="container">

  <div class="row">
    <h2 class="footer-heading">{{ site.title }}</h2>
  </div>
    <div class="row">
      <div class="five columns">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="one column">
      </div>

      <div class="five columns">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
