// colors

$color-1: rgb(0,139,158); // Ebony Clay
$color-2: #9cb3a8; // Pewter
$color-3: #ffffff; // White

// fonts 

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Merriweather', serif;

// animation

$animation-duration: 0.7s;